.otp-text-field{
    width: 400px;
    margin-top: 10px;
    padding: 5px;
}

.otp-button-submit{
    width: 400px;
    padding: 5px;
    background-color: red;
    border: none;
    margin-top: 10px;
}
.otp-title{
    font-size: 28px;
    font-weight: 700;
}
.otp-img{
    height: 400px;
    width: 100%;
}