@media(max-width:374.98px){
  body {
    padding-top: 60px;
  }
    .section-title{
             font-size:18px;
   }
    .section-sub-title{
             font-size:13px;
   }
    .product-name-on-card{
             font-size:14px;
   }
    .product-price-on-card{
             font-size:13px;
   }
  .Desktop{
    position: absolute;
visibility:hidden;
display:none;
  }
}



@media(min-width:375.98px) and (max-width:575.98px){
  body {
    padding-top: 60px;
  }
    .section-title{
      font-size:18px;
    }
    .section-sub-title{
      font-size:13px;
    }
    .product-name-on-card{
      font-size:14px;
    }
    .product-price-on-card{
      font-size:13px;
    }
    .Desktop{
      position: absolute;
  visibility:hidden;
  display:none!important;
    }
}


@media(min-width:576px) and (max-width:767.98px){
  .input-group{
    display: flex;

}

  .search-text-field{
    width:250px;

}
  body {
    padding-top: 60px;
  }
    .section-title{
    font-size:18px;
    }
    .section-sub-title{
    font-size:13px;
    }
    .product-name-on-card{
    font-size:14px;
    }
    .product-price-on-card{
    font-size:13px;
    }
    .Mobile{
      
    }
    .Desktop{
      position: absolute;
visibility:hidden;
display:none
    }

} 
@media (min-width: 768px) and (max-width: 991.98px){
  .input-group{
    display: flex;

}
  .search-text-field{
    width:150px;
 
}
  body{
    padding-top: 60px;
  }
  .Mobile{
    position: absolute;
    visibility:hidden;
    display:none;
  }
  .Desktop{

  }
}

@media (min-width:992px) and (max-width:1199.98px){
  .input-group{
    display: flex;

}
.search-text-field{
  width:350px;

}
  body{
    padding-top: 60px;
  }
  .Mobile{
    position: absolute;
    visibility:hidden;
    display:none;
  }
  .Desktop{

  }
}

@media(min-width:1200px){
  body{
    padding-top: 60px;
  }


    .Mobile{
      position: absolute;
      visibility:hidden;
      display:none
    }
    .Desktop{
    }
}


